{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Create a New Page
{% endblock %}

{% block body_title %}
    <h1 class="mb-4 pb-3 border-bottom">Create a New Page</h1>
{% endblock %}

{% block body %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: calc(100% - 32px);">
        <span>An entry with the provided title already exists. Please choose a different title.</span>
    </div>
    {% endif %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" style="width: calc(100% - 32px);" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea name="content" id="content" class="form-control" rows="5" style="width: calc(100% - 32px);" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3 d-flex align-items-center">
            <img src="{% static 'encyclopedia/save.png' %}" alt="Save" class="me-2 img-fluid" style="height: 1.2rem; filter: invert(1);">
            <span class="fw-bold ml-2">Save</span>
        </button>               
    </form>
{% endblock %}