{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    {{ entry }}
{% endblock %}

{% block body_title %}
    <h1 class="container mb-4 pb-3 border-bottom">Editing Entry: {{ entry }}</h1>
{% endblock %}

{% block body %}
    <form action="{% url 'edit' entry=entry %}" method="post">
        {% csrf_token %}
        <div class="container" style="width: calc(100% - 32px);">
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" id="content" class="form-control" rows="20" style="width: 100%;" required>{{ content }}</textarea>
            </div>
            <div class="d-flex justify-content-between" style="min-width: 20%; width: fit-content">
                <button type="submit" class="btn btn-primary mt-3 d-flex align-items-center">
                    <img src="{% static 'encyclopedia/save.png' %}" alt="Save" class="me-2 img-fluid" style="height: 1.2rem; filter: invert(1);">
                    <span class="fw-bold ml-2">Save</span>
                </button>
                <a href="{% url 'index' %}" class="btn btn-danger mt-3 d-flex align-items-center">
                    <img src="{% static 'encyclopedia/ban.png' %}" alt="Cancel" class="me-2 img-fluid" style="height: 1.2rem; filter: invert(1);">
                    <span class="fw-bold ml-2">Cancel</span>
                </a>
            </div>
        </div>
    </form>
{% endblock %}