{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 class="container-fluid pt-3 pb-3 border-5 border-bottom pb-2">All Pages</h1>
    
    <ul class="container-fluid list-group">
        {% for entry in entries %}
            <a href="{% url 'view_entry' entry=entry %}" class="text-decoration-none">
                <li class="list-group-item list-group-item-action border-0">{{ entry }}</li>
            </a>
        {% endfor %}
    </ul>

{% endblock %}