{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <style>
            .list-group-item {
                transition: background-color 0.3s, color 0.3s;
            }
            .list-group-item:hover {
                background-color: #e9ecef;
                color: #007bff;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3 sticky-top bg-white" style="padding: 20px; height: 100vh;">
                <h2 class="text-primary text-center">Wiki</h2>
                <form action="{% url 'search' %}" method="get" class="mb-4">
                    <input class="form-control mb-2" type="text" name="q" placeholder="Search Encyclopedia">
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </form>
                <div class="list-group">
                    <a href="{% url 'index' %}" class="list-group-item list-group-item-action text-primary border-0 d-flex align-items-center" style="padding: 10px; border-radius: 5px;">
                        <img src="{% static 'encyclopedia/house.png' %}" alt="Home" class="me-2 img-fluid mr-2" style="height: 1rem;">
                        Home
                    </a>
                    <a href="{% url 'create' %}" class="list-group-item list-group-item-action text-primary border-0 d-flex align-items-center" style="padding: 10px; border-radius: 5px;">
                        <img src="{% static 'encyclopedia/square-pen.png' %}" alt="Create" class="me-2 img-fluid mr-2" style="height: 1rem;">
                        Create New Page
                    </a>
                    <a href="{% url 'random_entry' %}" class="list-group-item list-group-item-action text-primary border-0 d-flex align-items-center" style="padding: 10px; border-radius: 5px;">
                        <img src="{% static 'encyclopedia/shuffle.png' %}" alt="Random" class="me-2 img-fluid mr-2" style="height: 1rem;">
                        Random Page
                    </a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>    
            
            <div class="main col-lg-10 col-md-9">
                <div>
                    {% block body_title %}
                    {% endblock %}
                </div>
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>