{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Entry not found!
{% endblock %}

{% block body %}
    <div class="container my-5">
        <h3 class="mb-4 pb-3 border-bottom">Oh no! The page you are looking for does not exist.</h3>
        <p>There's no entry for <strong>{{ entry }}</strong> in the encyclopedia</p>
        <p>Try something else?</p>
        <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-md-8 text-center">
                <img src="{% static 'encyclopedia/amogus.png' %}" alt="error image" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}