{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body_title %}
    <h1 class="mb-4 pb-3 pt-3 border-bottom">Search results for "{{ query }}"</h1>
{% endblock %}

{% block body %}
    {% if entries %}
        <ul class="list-group">
            {% for entry in entries %}
                <a href="{% url 'view_entry' entry=entry %}" class="text-decoration-none">
                    <li class="list-group-item list-group-item-action border-0">{{ entry }}</li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p class="container">No results found for your search.</p>
    {% endif %}
{% endblock %}